body {
    margin: 0;
    font-family: Meiryo, system-ui;
    font-size: 20px;
}

.header {
    background-color: #0f6cd0;
    padding: 2px 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title-text {
    font-size: 20px;
    color:#ffffff !important;
    text-decoration: none !important;
}

a {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
    color: #ff0000;
    text-decoration: underline;
}

.footer {
    background-color: #efefef;
    padding: 26px 28px;
    text-align: center;
}

.main {
    margin-left: 10% !important;
}

.red-text {
    color: #ff0000;
    padding-left: 10%;
}

.kyoutyou {
    font-size: 24px;
}

.page-title {
    color: black;
    font-size: 48px;
    text-align: center;
}

.copyright {
    font-size: 14px;
}

hr {
    margin-right: 10%;
}

.kuuran {
    width: 100%;
    height: 100px;
}