body {
    margin: 0;
    font-family: Meiryo, system-ui;
    font-size: 20px;
}

.header {
    padding: 2px 38px;
}

.header-text {
    border-top: 3px;
    font-size: 25px;
}

hr {
    color: #0000ff;
}

a {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
    color: #ff0000;
    text-decoration: underline;
}

.menu-list {
    overflow: hidden;
    list-style: none;
    margin: 0 auto;
    z-index: 20;
}

.menu-list a {
    text-decoration: none !important;
    color: #ffffff;
}

.menu-list li {
    display: inline-block;
    padding: 26px 10px 20px 10px;
    font-size: 20px;
}

.footer {
    background-color: #efefef;
    padding: 26px 28px;
    text-align: center;
}

.main {
    margin-left: 15% !important;
}

.news {
    background-color: #efefef;
    padding: 6px 0;
    text-align: left;
    font-size: 18px;
}

.red-text {
    color: #ff0000;
    padding-left: 10%;
}

.kyoutyou {
    font-size: 20px;
}

.page-title {
    color: black;
    font-size: 48px;
    text-align: center;
    border-top: 5px solid #009DDB;
    margin-left: 20% !important;
}

.news2 {
    padding: 6px 0;
    text-align: left;
    font-size: 18px;
}

.copyright {
    font-size: 14px;
}