.bg-image {
    background-image: url("/assets/images/support.jpg");
    width: 100vw;
    height: fit-content;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    margin: 0;
    padding: 0;
}