.banner2 {
    text-align: center;
    font-size: 22px;
    padding: 45px 45px;
    display: block;
}

.content {
    margin-right: 20%;
    margin-left: 20%;
}

.itiran {
    width: 85%;
}

.kiji {
    width: 100%;
    height: 90px;
    background-color: #000000;
    border-radius: 10px;
    color: #ffffff;
    padding-left: 5%;
    padding-top: 3%;
    margin: 1%;
}

.kiji a {
    color: #ffffff !important;
    text-decoration: none !important;
}

.kiji a:hover {
    color: #ffffff;
    text-decoration: underline !important;
}

.t {
    font-size: 35px;
    border-bottom: 2px solid;
}

.icon {
    width: 25%;
}