body {
    margin: 0;
    font-family: Meiryo, system-ui;
    font-size: 20px;
}

.page-title {
    text-align: center;
    font-size: 28px;
}

.content {
    margin-left: 10%;
}

h2 {
    border-left: 5px solid #FFDB5F;
    background-color: #FEFFB8;
    padding-left: 15px;
    font-size: 28px;
    border-bottom: 2px solid #4F4F4F;
}

h3 {
    border-left: 5px solid #8C8C8C;
    padding-left: 15px;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #0000ff;
}

a:hover {
    text-decoration: underline;
    color: #ff0000;
}

a:visited {
    color: blueviolet;
}
